<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <title th:text="${reviewModel.name}">Default Title</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <header class="main-header">
            <header>
                <h1 th:text="${reviewModel.name}">A Review</h1>
                <nav class="nav-menu">
                    <ul class="nav-menu_list">
                        <li class="nav-menu_list-item"><a href="/show-reviews">Home</a></li>
                    </ul>
                </nav>
            </header>

            <main class="main-info">
                <p th:text="${reviewModel.category}"></p>
                <img th:src="${reviewModel.imageUrl}" />
                <p th:text="${reviewModel.description}">This is the description</p>
            </main>


            <footer>
                <p><a href="/show-reviews">Back to The Fun</a></p>
                <small>&copy WCCI Kelley Landis 2019</small>
            </footer>
    </div>
</body>

</html>