<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="custom-banner-image">
    <div class="banner-overly">
        <div class="banner-class">
            <div class="page-center">
            </div>
        </div>
    </div>
</div>

<head>
    <title>All Video Games</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <style>
        .custom-banner-image {
            background-image: url('/images/ban.png');
        }
    </style>
</head>

<body>

    <header class="main-header">
        <h1>All Game Topics</h1>
    </header>

    <main class="main-info">
        <p><a href="/topics">
                Game Reviews by Genre
            </a></p>
        <ul class="game">
            <p>
                <h3>Single Games</h3>
            </p>
            <li th:each="game: ${games}"><a th:href="@{/single-game(id=${game.id})}" th:text="${game.name}"></a>
            </li>
        </ul>
    </main>

    <footer>
       <!--   <p th:each="topic: ${games.topics}"><a th:href="@{/topic(id=${topic.id})}" th:text="${topic.name}"></a></p>-->
        <p><a href="/topic"> Back to topics</a></p>
        <p><a href="/all-games">Back to Main Menu</a></p>
        <small>&copy WCCI Kelley Landis 2019</small>
    </footer>

</body>

</Html>